body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:928px;
}
#u22955 {
  position:absolute;
  left:413px;
  top:120px;
  width:910px;
  height:927px;
  color:#999999;
}
#u22956 {
  position:absolute;
  left:2px;
  top:456px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:47px;
}
#u22957 {
  position:absolute;
  left:437px;
  top:218px;
  width:864px;
  height:46px;
}
#u22958 {
  position:absolute;
  left:2px;
  top:15px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:2px;
}
#u22959 {
  position:absolute;
  left:430px;
  top:164px;
  width:892px;
  height:1px;
}
#u22960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u22961 {
  position:absolute;
  left:430px;
  top:138px;
  width:141px;
  height:16px;
}
#u22962 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u22963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u22963 {
  position:absolute;
  left:450px;
  top:233px;
  width:99px;
  height:16px;
}
#u22964 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
}
#u22965 {
  position:absolute;
  left:620px;
  top:233px;
  width:158px;
  height:16px;
}
#u22966 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u22967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u22967 {
  position:absolute;
  left:816px;
  top:233px;
  width:225px;
  height:16px;
}
#u22968 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u22969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:138px;
}
#u22969 {
  position:absolute;
  left:437px;
  top:263px;
  width:864px;
  height:137px;
}
#u22970 {
  position:absolute;
  left:2px;
  top:60px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u22971 {
  position:absolute;
  left:450px;
  top:280px;
  width:105px;
  height:16px;
}
#u22972 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u22973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u22973 {
  position:absolute;
  left:450px;
  top:321px;
  width:105px;
  height:16px;
}
#u22974 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u22975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u22975 {
  position:absolute;
  left:450px;
  top:368px;
  width:40px;
  height:16px;
}
#u22976 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u22977 {
  position:absolute;
  left:565px;
  top:280px;
  width:235px;
  height:16px;
}
#u22978 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u22979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u22979 {
  position:absolute;
  left:565px;
  top:321px;
  width:235px;
  height:16px;
}
#u22980 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u22981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
}
#u22981 {
  position:absolute;
  left:500px;
  top:368px;
  width:209px;
  height:16px;
}
#u22982 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u22983 {
  position:absolute;
  left:437px;
  top:306px;
  width:735px;
  height:1px;
}
#u22984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u22985 {
  position:absolute;
  left:437px;
  top:353px;
  width:735px;
  height:1px;
}
#u22986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u22987 {
  position:absolute;
  left:851px;
  top:264px;
  width:1px;
  height:137px;
}
#u22988 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u22989 {
  position:absolute;
  left:920px;
  top:281px;
  width:80px;
  height:16px;
}
#u22990 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u22991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u22991 {
  position:absolute;
  left:1027px;
  top:281px;
  width:65px;
  height:16px;
}
#u22992 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u22993 {
  position:absolute;
  left:920px;
  top:323px;
  width:80px;
  height:16px;
}
#u22994 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u22995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u22995 {
  position:absolute;
  left:1027px;
  top:323px;
  width:65px;
  height:16px;
}
#u22996 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u22997 {
  position:absolute;
  left:920px;
  top:368px;
  width:80px;
  height:16px;
}
#u22998 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u22999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u22999 {
  position:absolute;
  left:1027px;
  top:368px;
  width:65px;
  height:16px;
}
#u23000 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u23001 {
  position:absolute;
  left:1171px;
  top:263px;
  width:1px;
  height:137px;
}
#u23002 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:47px;
}
#u23003 {
  position:absolute;
  left:437px;
  top:416px;
  width:864px;
  height:46px;
}
#u23004 {
  position:absolute;
  left:2px;
  top:15px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u23005 {
  position:absolute;
  left:450px;
  top:431px;
  width:99px;
  height:16px;
}
#u23006 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
}
#u23007 {
  position:absolute;
  left:620px;
  top:431px;
  width:158px;
  height:16px;
}
#u23008 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u23009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u23009 {
  position:absolute;
  left:816px;
  top:431px;
  width:225px;
  height:16px;
}
#u23010 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:138px;
}
#u23011 {
  position:absolute;
  left:437px;
  top:461px;
  width:864px;
  height:137px;
}
#u23012 {
  position:absolute;
  left:2px;
  top:60px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u23013 {
  position:absolute;
  left:450px;
  top:478px;
  width:105px;
  height:16px;
}
#u23014 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u23015 {
  position:absolute;
  left:450px;
  top:519px;
  width:105px;
  height:16px;
}
#u23016 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u23017 {
  position:absolute;
  left:450px;
  top:566px;
  width:40px;
  height:16px;
}
#u23018 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u23019 {
  position:absolute;
  left:565px;
  top:478px;
  width:235px;
  height:16px;
}
#u23020 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u23021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u23021 {
  position:absolute;
  left:565px;
  top:519px;
  width:235px;
  height:16px;
}
#u23022 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u23023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
}
#u23023 {
  position:absolute;
  left:500px;
  top:566px;
  width:209px;
  height:16px;
}
#u23024 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u23025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u23025 {
  position:absolute;
  left:437px;
  top:504px;
  width:735px;
  height:1px;
}
#u23026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u23027 {
  position:absolute;
  left:437px;
  top:551px;
  width:735px;
  height:1px;
}
#u23028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u23029 {
  position:absolute;
  left:851px;
  top:459px;
  width:1px;
  height:137px;
}
#u23030 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23031 {
  position:absolute;
  left:920px;
  top:476px;
  width:80px;
  height:16px;
}
#u23032 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23033 {
  position:absolute;
  left:1027px;
  top:476px;
  width:65px;
  height:16px;
}
#u23034 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23035 {
  position:absolute;
  left:920px;
  top:518px;
  width:80px;
  height:16px;
}
#u23036 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23037 {
  position:absolute;
  left:1027px;
  top:518px;
  width:65px;
  height:16px;
}
#u23038 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23039 {
  position:absolute;
  left:920px;
  top:563px;
  width:80px;
  height:16px;
}
#u23040 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23041 {
  position:absolute;
  left:1027px;
  top:563px;
  width:65px;
  height:16px;
}
#u23042 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u23043 {
  position:absolute;
  left:1237px;
  top:431px;
  width:43px;
  height:16px;
  color:#FF9900;
}
#u23044 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u23045 {
  position:absolute;
  left:1171px;
  top:461px;
  width:1px;
  height:137px;
}
#u23046 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:47px;
}
#u23047 {
  position:absolute;
  left:437px;
  top:615px;
  width:864px;
  height:46px;
}
#u23048 {
  position:absolute;
  left:2px;
  top:15px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u23049 {
  position:absolute;
  left:450px;
  top:630px;
  width:99px;
  height:16px;
}
#u23050 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
}
#u23051 {
  position:absolute;
  left:620px;
  top:630px;
  width:158px;
  height:16px;
}
#u23052 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u23053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u23053 {
  position:absolute;
  left:816px;
  top:630px;
  width:225px;
  height:16px;
}
#u23054 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:138px;
}
#u23055 {
  position:absolute;
  left:437px;
  top:660px;
  width:864px;
  height:137px;
}
#u23056 {
  position:absolute;
  left:2px;
  top:60px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u23057 {
  position:absolute;
  left:450px;
  top:677px;
  width:105px;
  height:16px;
}
#u23058 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u23059 {
  position:absolute;
  left:450px;
  top:718px;
  width:105px;
  height:16px;
}
#u23060 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u23061 {
  position:absolute;
  left:450px;
  top:765px;
  width:40px;
  height:16px;
}
#u23062 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u23063 {
  position:absolute;
  left:565px;
  top:677px;
  width:235px;
  height:16px;
}
#u23064 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u23065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u23065 {
  position:absolute;
  left:565px;
  top:718px;
  width:235px;
  height:16px;
}
#u23066 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u23067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
}
#u23067 {
  position:absolute;
  left:500px;
  top:765px;
  width:209px;
  height:16px;
}
#u23068 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u23069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u23069 {
  position:absolute;
  left:437px;
  top:703px;
  width:735px;
  height:1px;
}
#u23070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u23071 {
  position:absolute;
  left:437px;
  top:750px;
  width:735px;
  height:1px;
}
#u23072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u23073 {
  position:absolute;
  left:851px;
  top:660px;
  width:1px;
  height:137px;
}
#u23074 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23075 {
  position:absolute;
  left:922px;
  top:678px;
  width:80px;
  height:16px;
}
#u23076 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23077 {
  position:absolute;
  left:1029px;
  top:678px;
  width:65px;
  height:16px;
}
#u23078 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23079 {
  position:absolute;
  left:922px;
  top:720px;
  width:80px;
  height:16px;
}
#u23080 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23081 {
  position:absolute;
  left:1029px;
  top:720px;
  width:65px;
  height:16px;
}
#u23082 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23083 {
  position:absolute;
  left:922px;
  top:765px;
  width:80px;
  height:16px;
}
#u23084 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23085 {
  position:absolute;
  left:1029px;
  top:765px;
  width:65px;
  height:16px;
}
#u23086 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u23087 {
  position:absolute;
  left:1220px;
  top:634px;
  width:71px;
  height:16px;
  color:#FF9900;
}
#u23088 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u23089 {
  position:absolute;
  left:1171px;
  top:660px;
  width:1px;
  height:137px;
}
#u23090 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:47px;
}
#u23091 {
  position:absolute;
  left:437px;
  top:817px;
  width:864px;
  height:46px;
}
#u23092 {
  position:absolute;
  left:2px;
  top:15px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u23093 {
  position:absolute;
  left:450px;
  top:832px;
  width:99px;
  height:16px;
}
#u23094 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
}
#u23095 {
  position:absolute;
  left:620px;
  top:832px;
  width:158px;
  height:16px;
}
#u23096 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u23097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u23097 {
  position:absolute;
  left:816px;
  top:832px;
  width:225px;
  height:16px;
}
#u23098 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:138px;
}
#u23099 {
  position:absolute;
  left:437px;
  top:862px;
  width:864px;
  height:137px;
}
#u23100 {
  position:absolute;
  left:2px;
  top:60px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u23101 {
  position:absolute;
  left:450px;
  top:879px;
  width:105px;
  height:16px;
}
#u23102 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u23103 {
  position:absolute;
  left:450px;
  top:920px;
  width:105px;
  height:16px;
}
#u23104 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u23105 {
  position:absolute;
  left:450px;
  top:967px;
  width:40px;
  height:16px;
}
#u23106 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u23107 {
  position:absolute;
  left:565px;
  top:879px;
  width:235px;
  height:16px;
}
#u23108 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u23109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
}
#u23109 {
  position:absolute;
  left:565px;
  top:920px;
  width:235px;
  height:16px;
}
#u23110 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u23111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
}
#u23111 {
  position:absolute;
  left:500px;
  top:967px;
  width:209px;
  height:16px;
}
#u23112 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u23113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u23113 {
  position:absolute;
  left:437px;
  top:905px;
  width:735px;
  height:1px;
}
#u23114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u23115 {
  position:absolute;
  left:437px;
  top:952px;
  width:735px;
  height:1px;
}
#u23116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u23117 {
  position:absolute;
  left:851px;
  top:862px;
  width:1px;
  height:137px;
}
#u23118 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23119 {
  position:absolute;
  left:920px;
  top:877px;
  width:80px;
  height:16px;
}
#u23120 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23121 {
  position:absolute;
  left:1027px;
  top:877px;
  width:65px;
  height:16px;
}
#u23122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23123 {
  position:absolute;
  left:920px;
  top:919px;
  width:80px;
  height:16px;
}
#u23124 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23125 {
  position:absolute;
  left:1027px;
  top:919px;
  width:65px;
  height:16px;
}
#u23126 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u23127 {
  position:absolute;
  left:920px;
  top:964px;
  width:80px;
  height:16px;
}
#u23128 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23129 {
  position:absolute;
  left:1027px;
  top:964px;
  width:65px;
  height:16px;
}
#u23130 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u23131 {
  position:absolute;
  left:1262px;
  top:832px;
  width:29px;
  height:16px;
  color:#FF9900;
}
#u23132 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u23133 {
  position:absolute;
  left:1171px;
  top:862px;
  width:1px;
  height:137px;
}
#u23134 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23135 {
  position:absolute;
  left:1214px;
  top:318px;
  width:57px;
  height:16px;
}
#u23136 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u23137 {
  position:absolute;
  left:437px;
  top:173px;
  width:78px;
  height:35px;
}
#u23138 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u23139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u23139 {
  position:absolute;
  left:525px;
  top:173px;
  width:78px;
  height:35px;
}
#u23140 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u23141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u23141 {
  position:absolute;
  left:613px;
  top:173px;
  width:89px;
  height:35px;
}
#u23142 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u23143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u23143 {
  position:absolute;
  left:714px;
  top:173px;
  width:78px;
  height:35px;
}
#u23144 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u23146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:272px;
}
#u23146 {
  position:absolute;
  left:0px;
  top:1088px;
  width:1600px;
  height:271px;
}
#u23147 {
  position:absolute;
  left:2px;
  top:128px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u23148 {
  position:absolute;
  left:243px;
  top:1121px;
  width:188px;
  height:57px;
}
#u23149 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u23150 {
  position:absolute;
  left:293px;
  top:1191px;
  width:99px;
  height:16px;
}
#u23151 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u23152 {
  position:absolute;
  left:518px;
  top:1118px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23153 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23154 {
  position:absolute;
  left:522px;
  top:1156px;
  width:57px;
  height:16px;
}
#u23155 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23156 {
  position:absolute;
  left:522px;
  top:1192px;
  width:57px;
  height:16px;
}
#u23157 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23158 {
  position:absolute;
  left:522px;
  top:1227px;
  width:57px;
  height:16px;
}
#u23159 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u23160 {
  position:absolute;
  left:852px;
  top:1118px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23161 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u23162 {
  position:absolute;
  left:1029px;
  top:1118px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23163 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23164 {
  position:absolute;
  left:860px;
  top:1158px;
  width:57px;
  height:16px;
}
#u23165 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23166 {
  position:absolute;
  left:860px;
  top:1194px;
  width:57px;
  height:16px;
}
#u23167 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u23168 {
  position:absolute;
  left:860px;
  top:1229px;
  width:85px;
  height:16px;
}
#u23169 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23170 {
  position:absolute;
  left:1033px;
  top:1156px;
  width:57px;
  height:16px;
}
#u23171 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23172 {
  position:absolute;
  left:1033px;
  top:1192px;
  width:57px;
  height:16px;
}
#u23173 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
}
#u23174 {
  position:absolute;
  left:1182px;
  top:1194px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23175 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u23176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u23176 {
  position:absolute;
  left:1243px;
  top:1116px;
  width:64px;
  height:64px;
}
#u23177 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
}
#u23178 {
  position:absolute;
  left:1182px;
  top:1240px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23179 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u23180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u23180 {
  position:absolute;
  left:639px;
  top:1309px;
  width:338px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23181 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u23182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:77px;
}
#u23182 {
  position:absolute;
  left:0px;
  top:1359px;
  width:1600px;
  height:76px;
}
#u23183 {
  position:absolute;
  left:2px;
  top:30px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u23184 {
  position:absolute;
  left:701px;
  top:1375px;
  width:250px;
  height:46px;
}
#u23185 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u23186 {
  position:absolute;
  left:674px;
  top:1118px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23187 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23188 {
  position:absolute;
  left:682px;
  top:1158px;
  width:57px;
  height:16px;
}
#u23189 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23190 {
  position:absolute;
  left:682px;
  top:1194px;
  width:57px;
  height:16px;
}
#u23191 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23192 {
  position:absolute;
  left:682px;
  top:1229px;
  width:57px;
  height:16px;
}
#u23193 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23194 {
  position:absolute;
  left:1033px;
  top:1229px;
  width:57px;
  height:16px;
}
#u23195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23196 {
  position:absolute;
  left:1214px;
  top:513px;
  width:57px;
  height:16px;
}
#u23197 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23198 {
  position:absolute;
  left:1214px;
  top:708px;
  width:57px;
  height:16px;
}
#u23199 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23200 {
  position:absolute;
  left:1214px;
  top:922px;
  width:57px;
  height:16px;
}
#u23201 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u23202 {
  position:absolute;
  left:1220px;
  top:237px;
  width:71px;
  height:16px;
  color:#FF9900;
}
#u23203 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u23204 {
  position:absolute;
  left:1229px;
  top:344px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u23205 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u23206 {
  position:absolute;
  left:1229px;
  top:734px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u23207 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:31px;
}
#u23209 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
}
#u23210 {
  position:absolute;
  left:2px;
  top:7px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u23211 {
  position:absolute;
  left:200px;
  top:5px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23212 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u23213 {
  position:absolute;
  left:411px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23214 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
}
#u23215 {
  position:absolute;
  left:1095px;
  top:5px;
  width:314px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23216 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u23217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u23217 {
  position:absolute;
  left:1024px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23218 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u23219 {
  position:absolute;
  left:947px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF7766;
}
#u23220 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:72px;
}
#u23221 {
  position:absolute;
  left:0px;
  top:31px;
  width:1600px;
  height:71px;
}
#u23222 {
  position:absolute;
  left:2px;
  top:28px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u23224 {
  position:absolute;
  left:192px;
  top:38px;
  width:188px;
  height:57px;
}
#u23225 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u23226 {
  position:absolute;
  left:399px;
  top:47px;
  width:1px;
  height:37px;
}
#u23227 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u23228 {
  position:absolute;
  left:414px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u23229 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u23230 {
  position:absolute;
  left:1004px;
  top:5px;
  width:8px;
  height:16px;
}
#u23231 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u23232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u23232 {
  position:absolute;
  left:1077px;
  top:5px;
  width:8px;
  height:16px;
}
#u23233 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u23234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u23234 {
  position:absolute;
  left:304px;
  top:5px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u23235 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u23236 {
  position:absolute;
  left:343px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23237 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:706px;
}
#u23239 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:705px;
  color:#666666;
}
#u23240 {
  position:absolute;
  left:2px;
  top:344px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u23241 {
  position:absolute;
  left:219px;
  top:187px;
  width:23px;
  height:22px;
}
#u23242 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23243 {
  position:absolute;
  left:252px;
  top:190px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23244 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23245 {
  position:absolute;
  left:219px;
  top:227px;
  width:57px;
  height:16px;
}
#u23246 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u23247 {
  position:absolute;
  left:219px;
  top:278px;
  width:71px;
  height:16px;
}
#u23248 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u23249 {
  position:absolute;
  left:219px;
  top:550px;
  width:23px;
  height:22px;
}
#u23250 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u23251 {
  position:absolute;
  left:252px;
  top:553px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23252 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u23253 {
  position:absolute;
  left:219px;
  top:590px;
  width:85px;
  height:16px;
}
#u23254 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u23255 {
  position:absolute;
  left:219px;
  top:642px;
  width:71px;
  height:16px;
}
#u23256 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u23257 {
  position:absolute;
  left:219px;
  top:362px;
  width:151px;
  height:1px;
}
#u23258 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u23259 {
  position:absolute;
  left:219px;
  top:531px;
  width:151px;
  height:1px;
}
#u23260 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u23261 {
  position:absolute;
  left:219px;
  top:701px;
  width:23px;
  height:22px;
}
#u23262 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23263 {
  position:absolute;
  left:252px;
  top:704px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23264 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23265 {
  position:absolute;
  left:219px;
  top:741px;
  width:57px;
  height:16px;
}
#u23266 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23267 {
  position:absolute;
  left:219px;
  top:767px;
  width:57px;
  height:16px;
}
#u23268 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u23269 {
  position:absolute;
  left:219px;
  top:686px;
  width:151px;
  height:1px;
}
#u23270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u23271 {
  position:absolute;
  left:219px;
  top:616px;
  width:113px;
  height:16px;
}
#u23272 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u23273 {
  position:absolute;
  left:219px;
  top:378px;
  width:23px;
  height:22px;
}
#u23274 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u23275 {
  position:absolute;
  left:252px;
  top:381px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23276 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23277 {
  position:absolute;
  left:219px;
  top:418px;
  width:57px;
  height:16px;
}
#u23278 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23279 {
  position:absolute;
  left:219px;
  top:495px;
  width:57px;
  height:16px;
}
#u23280 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23281 {
  position:absolute;
  left:219px;
  top:469px;
  width:57px;
  height:16px;
}
#u23282 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23283 {
  position:absolute;
  left:219px;
  top:443px;
  width:57px;
  height:16px;
}
#u23284 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u23285 {
  position:absolute;
  left:219px;
  top:330px;
  width:71px;
  height:16px;
}
#u23286 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u23287 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:40px;
  font-size:14px;
}
#u23288 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u23289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u23289 {
  position:absolute;
  left:219px;
  top:793px;
  width:71px;
  height:16px;
}
#u23290 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23291 {
  position:absolute;
  left:219px;
  top:253px;
  width:57px;
  height:16px;
}
#u23292 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u23293 {
  position:absolute;
  left:219px;
  top:304px;
  width:57px;
  height:16px;
}
#u23294 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
