body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:765px;
}
#u22054 {
  position:absolute;
  left:410px;
  top:120px;
  width:983px;
  height:764px;
}
#u22055 {
  position:absolute;
  left:2px;
  top:374px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:2px;
}
#u22056 {
  position:absolute;
  left:410px;
  top:158px;
  width:981px;
  height:1px;
}
#u22057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22058 {
  position:absolute;
  left:423px;
  top:131px;
  width:57px;
  height:16px;
}
#u22059 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:2px;
}
#u22060 {
  position:absolute;
  left:547px;
  top:221px;
  width:846px;
  height:1px;
}
#u22061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:842px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u22062 {
  position:absolute;
  left:852px;
  top:282px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u22063 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u22064 {
  position:absolute;
  left:542px;
  top:282px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u22065 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u22066 {
  position:absolute;
  left:690px;
  top:282px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u22067 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:272px;
}
#u22069 {
  position:absolute;
  left:0px;
  top:920px;
  width:1600px;
  height:271px;
}
#u22070 {
  position:absolute;
  left:2px;
  top:128px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u22071 {
  position:absolute;
  left:243px;
  top:953px;
  width:188px;
  height:57px;
}
#u22072 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u22073 {
  position:absolute;
  left:293px;
  top:1023px;
  width:99px;
  height:16px;
}
#u22074 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u22075 {
  position:absolute;
  left:518px;
  top:950px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22076 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22077 {
  position:absolute;
  left:522px;
  top:988px;
  width:57px;
  height:16px;
}
#u22078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22079 {
  position:absolute;
  left:522px;
  top:1024px;
  width:57px;
  height:16px;
}
#u22080 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22081 {
  position:absolute;
  left:522px;
  top:1059px;
  width:57px;
  height:16px;
}
#u22082 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u22083 {
  position:absolute;
  left:852px;
  top:950px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22084 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u22085 {
  position:absolute;
  left:1029px;
  top:950px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22086 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22087 {
  position:absolute;
  left:860px;
  top:990px;
  width:57px;
  height:16px;
}
#u22088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22089 {
  position:absolute;
  left:860px;
  top:1026px;
  width:57px;
  height:16px;
}
#u22090 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u22091 {
  position:absolute;
  left:860px;
  top:1061px;
  width:85px;
  height:16px;
}
#u22092 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u22093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22093 {
  position:absolute;
  left:1033px;
  top:988px;
  width:57px;
  height:16px;
}
#u22094 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22095 {
  position:absolute;
  left:1033px;
  top:1024px;
  width:57px;
  height:16px;
}
#u22096 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
}
#u22097 {
  position:absolute;
  left:1182px;
  top:1026px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u22098 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u22099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u22099 {
  position:absolute;
  left:1243px;
  top:948px;
  width:64px;
  height:64px;
}
#u22100 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
}
#u22101 {
  position:absolute;
  left:1182px;
  top:1072px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22102 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u22103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u22103 {
  position:absolute;
  left:639px;
  top:1141px;
  width:338px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22104 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u22105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:77px;
}
#u22105 {
  position:absolute;
  left:0px;
  top:1191px;
  width:1600px;
  height:76px;
}
#u22106 {
  position:absolute;
  left:2px;
  top:30px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u22107 {
  position:absolute;
  left:701px;
  top:1207px;
  width:250px;
  height:46px;
}
#u22108 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u22109 {
  position:absolute;
  left:674px;
  top:950px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22110 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22111 {
  position:absolute;
  left:682px;
  top:990px;
  width:57px;
  height:16px;
}
#u22112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22113 {
  position:absolute;
  left:682px;
  top:1026px;
  width:57px;
  height:16px;
}
#u22114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22115 {
  position:absolute;
  left:682px;
  top:1061px;
  width:57px;
  height:16px;
}
#u22116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22117 {
  position:absolute;
  left:1033px;
  top:1061px;
  width:57px;
  height:16px;
}
#u22118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:31px;
}
#u22120 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
}
#u22121 {
  position:absolute;
  left:2px;
  top:7px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u22122 {
  position:absolute;
  left:200px;
  top:5px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22123 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u22124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u22124 {
  position:absolute;
  left:411px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22125 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
}
#u22126 {
  position:absolute;
  left:1095px;
  top:5px;
  width:314px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22127 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u22128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u22128 {
  position:absolute;
  left:1024px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22129 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u22130 {
  position:absolute;
  left:947px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF7766;
}
#u22131 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:72px;
}
#u22132 {
  position:absolute;
  left:0px;
  top:31px;
  width:1600px;
  height:71px;
}
#u22133 {
  position:absolute;
  left:2px;
  top:28px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u22135 {
  position:absolute;
  left:192px;
  top:38px;
  width:188px;
  height:57px;
}
#u22136 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u22137 {
  position:absolute;
  left:399px;
  top:47px;
  width:1px;
  height:37px;
}
#u22138 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u22139 {
  position:absolute;
  left:414px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u22140 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u22141 {
  position:absolute;
  left:1004px;
  top:5px;
  width:8px;
  height:16px;
}
#u22142 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u22143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u22143 {
  position:absolute;
  left:1077px;
  top:5px;
  width:8px;
  height:16px;
}
#u22144 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u22145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u22145 {
  position:absolute;
  left:304px;
  top:5px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u22146 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u22147 {
  position:absolute;
  left:343px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22148 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:706px;
}
#u22150 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:705px;
  color:#666666;
}
#u22151 {
  position:absolute;
  left:2px;
  top:344px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u22152 {
  position:absolute;
  left:219px;
  top:187px;
  width:23px;
  height:22px;
}
#u22153 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u22154 {
  position:absolute;
  left:252px;
  top:190px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22155 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22156 {
  position:absolute;
  left:219px;
  top:227px;
  width:57px;
  height:16px;
}
#u22157 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22158 {
  position:absolute;
  left:219px;
  top:278px;
  width:71px;
  height:16px;
}
#u22159 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u22160 {
  position:absolute;
  left:219px;
  top:550px;
  width:23px;
  height:22px;
}
#u22161 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u22162 {
  position:absolute;
  left:252px;
  top:553px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22163 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u22164 {
  position:absolute;
  left:219px;
  top:590px;
  width:85px;
  height:16px;
}
#u22165 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u22166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22166 {
  position:absolute;
  left:219px;
  top:642px;
  width:71px;
  height:16px;
}
#u22167 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u22168 {
  position:absolute;
  left:219px;
  top:362px;
  width:151px;
  height:1px;
}
#u22169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u22170 {
  position:absolute;
  left:219px;
  top:531px;
  width:151px;
  height:1px;
}
#u22171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u22172 {
  position:absolute;
  left:219px;
  top:701px;
  width:23px;
  height:22px;
}
#u22173 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u22174 {
  position:absolute;
  left:252px;
  top:704px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22175 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22176 {
  position:absolute;
  left:219px;
  top:741px;
  width:57px;
  height:16px;
}
#u22177 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22178 {
  position:absolute;
  left:219px;
  top:767px;
  width:57px;
  height:16px;
}
#u22179 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u22180 {
  position:absolute;
  left:219px;
  top:686px;
  width:151px;
  height:1px;
}
#u22181 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u22182 {
  position:absolute;
  left:219px;
  top:616px;
  width:113px;
  height:16px;
}
#u22183 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u22184 {
  position:absolute;
  left:219px;
  top:378px;
  width:23px;
  height:22px;
}
#u22185 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u22186 {
  position:absolute;
  left:252px;
  top:381px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22187 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22188 {
  position:absolute;
  left:219px;
  top:418px;
  width:57px;
  height:16px;
}
#u22189 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22190 {
  position:absolute;
  left:219px;
  top:495px;
  width:57px;
  height:16px;
}
#u22191 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22192 {
  position:absolute;
  left:219px;
  top:469px;
  width:57px;
  height:16px;
}
#u22193 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22194 {
  position:absolute;
  left:219px;
  top:443px;
  width:57px;
  height:16px;
}
#u22195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22196 {
  position:absolute;
  left:219px;
  top:330px;
  width:71px;
  height:16px;
}
#u22197 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u22198 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:40px;
  font-size:14px;
}
#u22199 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u22200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22200 {
  position:absolute;
  left:219px;
  top:793px;
  width:71px;
  height:16px;
}
#u22201 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22202 {
  position:absolute;
  left:219px;
  top:253px;
  width:57px;
  height:16px;
}
#u22203 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22204 {
  position:absolute;
  left:219px;
  top:304px;
  width:57px;
  height:16px;
}
#u22205 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:47px;
}
#u22206 {
  position:absolute;
  left:543px;
  top:175px;
  width:117px;
  height:46px;
  font-size:14px;
}
#u22207 {
  position:absolute;
  left:2px;
  top:15px;
  width:113px;
  word-wrap:break-word;
}
#u22208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:47px;
}
#u22208 {
  position:absolute;
  left:426px;
  top:175px;
  width:117px;
  height:46px;
  font-size:14px;
}
#u22209 {
  position:absolute;
  left:2px;
  top:15px;
  width:113px;
  word-wrap:break-word;
}
#u22210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u22210 {
  position:absolute;
  left:898px;
  top:283px;
  width:43px;
  height:16px;
  font-size:13px;
}
#u22211 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u22212 {
  position:absolute;
  left:587px;
  top:282px;
  width:28px;
  height:16px;
  font-size:13px;
}
#u22213 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u22214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u22214 {
  position:absolute;
  left:735px;
  top:282px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u22215 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22216 {
  position:absolute;
  left:470px;
  top:408px;
  width:71px;
  height:16px;
  font-size:13px;
}
#u22217 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22218 {
  position:absolute;
  left:980px;
  top:448px;
  width:110px;
  height:30px;
}
#u22218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u22219 {
  position:absolute;
  left:664px;
  top:408px;
  width:31px;
  height:16px;
  font-size:13px;
}
#u22220 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u22221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u22221 {
  position:absolute;
  left:455px;
  top:454px;
  width:84px;
  height:16px;
  font-size:13px;
}
#u22222 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u22223 {
  position:absolute;
  left:545px;
  top:448px;
  width:106px;
  height:30px;
}
#u22223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22224 {
  position:absolute;
  left:462px;
  top:641px;
  width:71px;
  height:16px;
  font-size:13px;
}
#u22225 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22226 {
  position:absolute;
  left:545px;
  top:635px;
  width:99px;
  height:30px;
}
#u22226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22226_input:disabled {
  color:grayText;
}
#u22227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22227 {
  position:absolute;
  left:462px;
  top:691px;
  width:71px;
  height:16px;
  font-size:13px;
}
#u22228 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22229 {
  position:absolute;
  left:662px;
  top:640px;
}
#u22229_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22229_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u22230 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  font-size:13px;
}
#u22231 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u22232 {
  position:absolute;
  left:131px;
  top:0px;
  width:41px;
  height:16px;
}
#u22233 {
  position:absolute;
  left:16px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u22232_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22234 {
  position:absolute;
  left:187px;
  top:0px;
  width:36px;
  height:16px;
}
#u22235 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u22234_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:21px;
}
#u22236 {
  position:absolute;
  left:231px;
  top:-1px;
  width:431px;
  height:20px;
  font-size:13px;
  color:#999999;
}
#u22237 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  word-wrap:break-word;
}
#u22238 {
  position:absolute;
  left:677px;
  top:684px;
  visibility:hidden;
}
#u22238_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22238_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22239 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u22239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22240 {
  position:absolute;
  left:543px;
  top:691px;
  width:46px;
  height:16px;
}
#u22241 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22240_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22242 {
  position:absolute;
  left:610px;
  top:691px;
  width:46px;
  height:16px;
}
#u22243 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22244 {
  position:absolute;
  left:906px;
  top:455px;
  width:71px;
  height:16px;
  font-size:13px;
}
#u22245 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22246 {
  position:absolute;
  left:546px;
  top:401px;
  width:110px;
  height:30px;
}
#u22246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u22247 {
  position:absolute;
  left:1097px;
  top:455px;
  width:14px;
  height:16px;
  font-size:13px;
}
#u22248 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u22249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22249 {
  position:absolute;
  left:463px;
  top:319px;
  width:71px;
  height:16px;
  font-size:13px;
}
#u22250 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22251 {
  position:absolute;
  left:539px;
  top:319px;
  width:54px;
  height:16px;
}
#u22252 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u22251_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22253 {
  position:absolute;
  left:613px;
  top:319px;
  width:51px;
  height:16px;
}
#u22254 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u22253_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22255 {
  position:absolute;
  left:682px;
  top:319px;
  width:71px;
  height:16px;
  font-size:13px;
}
#u22256 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22257 {
  position:absolute;
  left:756px;
  top:312px;
  width:91px;
  height:30px;
}
#u22257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22257_input:disabled {
  color:grayText;
}
#u22258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u22258 {
  position:absolute;
  left:882px;
  top:321px;
  width:84px;
  height:16px;
  font-size:13px;
}
#u22259 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u22260 {
  position:absolute;
  left:977px;
  top:314px;
  width:91px;
  height:30px;
}
#u22260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22260_input:disabled {
  color:grayText;
}
#u22261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u22261 {
  position:absolute;
  left:465px;
  top:507px;
  width:71px;
  height:16px;
  font-size:13px;
}
#u22262 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22263 {
  position:absolute;
  left:544px;
  top:500px;
  width:91px;
  height:30px;
}
#u22263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22263_input:disabled {
  color:grayText;
}
#u22264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u22264 {
  position:absolute;
  left:477px;
  top:556px;
  width:58px;
  height:16px;
  font-size:13px;
}
#u22265 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u22266 {
  position:absolute;
  left:545px;
  top:556px;
  width:46px;
  height:16px;
}
#u22267 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22266_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22268 {
  position:absolute;
  left:605px;
  top:556px;
  width:46px;
  height:16px;
}
#u22269 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22268_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22270 {
  position:absolute;
  left:664px;
  top:556px;
  width:46px;
  height:16px;
}
#u22271 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22270_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22272 {
  position:absolute;
  left:723px;
  top:556px;
  width:46px;
  height:16px;
}
#u22273 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22272_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22274 {
  position:absolute;
  left:782px;
  top:556px;
  width:46px;
  height:16px;
}
#u22275 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22274_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22276 {
  position:absolute;
  left:838px;
  top:556px;
  width:46px;
  height:16px;
}
#u22277 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22276_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22278 {
  position:absolute;
  left:894px;
  top:556px;
  width:46px;
  height:16px;
}
#u22279 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u22278_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22280 {
  position:absolute;
  left:441px;
  top:242px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22281 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22282_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:16px;
}
#u22282 {
  position:absolute;
  left:436px;
  top:244px;
  width:3px;
  height:13px;
}
#u22283 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22284 {
  position:absolute;
  left:441px;
  top:366px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22285 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22286_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:16px;
}
#u22286 {
  position:absolute;
  left:436px;
  top:368px;
  width:3px;
  height:13px;
}
#u22287 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22288 {
  position:absolute;
  left:645px;
  top:507px;
  width:72px;
  height:16px;
}
#u22289 {
  position:absolute;
  left:16px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u22288_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22290 {
  position:absolute;
  left:727px;
  top:507px;
  width:100px;
  height:16px;
}
#u22291 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22290_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22292 {
  position:absolute;
  left:824px;
  top:507px;
  width:100px;
  height:16px;
}
#u22293 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22292_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22294 {
  position:absolute;
  left:441px;
  top:596px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22295 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22296_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:16px;
}
#u22296 {
  position:absolute;
  left:436px;
  top:598px;
  width:3px;
  height:13px;
}
#u22297 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u22298 {
  position:absolute;
  left:441px;
  top:728px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22299 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22300_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:16px;
}
#u22300 {
  position:absolute;
  left:436px;
  top:730px;
  width:3px;
  height:13px;
}
#u22301 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u22302 {
  position:absolute;
  left:630px;
  top:815px;
  width:99px;
  height:35px;
}
#u22303 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u22304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u22304 {
  position:absolute;
  left:742px;
  top:835px;
  width:170px;
  height:16px;
  font-size:13px;
  color:#FF6600;
}
#u22305 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u22306 {
  position:absolute;
  left:662px;
  top:448px;
  width:203px;
  height:30px;
}
#u22306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:47px;
}
#u22307 {
  position:absolute;
  left:660px;
  top:175px;
  width:117px;
  height:46px;
  font-size:14px;
}
#u22308 {
  position:absolute;
  left:2px;
  top:15px;
  width:113px;
  word-wrap:break-word;
}
#u22309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:17px;
}
#u22309 {
  position:absolute;
  left:737px;
  top:406px;
  width:438px;
  height:16px;
  font-size:13px;
}
#u22310 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  white-space:nowrap;
}
#u22311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:17px;
}
#u22311 {
  position:absolute;
  left:462px;
  top:765px;
  width:203px;
  height:16px;
  font-size:13px;
}
#u22312 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u22313 {
  position:absolute;
  left:675px;
  top:765px;
  width:59px;
  height:16px;
}
#u22314 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u22313_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22315 {
  position:absolute;
  left:755px;
  top:765px;
  width:47px;
  height:16px;
}
#u22316 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u22315_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
