body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:272px;
}
#u27817 {
  position:absolute;
  left:0px;
  top:1054px;
  width:1600px;
  height:271px;
}
#u27818 {
  position:absolute;
  left:2px;
  top:128px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u27819 {
  position:absolute;
  left:243px;
  top:1087px;
  width:188px;
  height:57px;
}
#u27820 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u27821 {
  position:absolute;
  left:293px;
  top:1157px;
  width:99px;
  height:16px;
}
#u27822 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u27823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u27823 {
  position:absolute;
  left:518px;
  top:1084px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u27824 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27825 {
  position:absolute;
  left:522px;
  top:1122px;
  width:57px;
  height:16px;
}
#u27826 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27827 {
  position:absolute;
  left:522px;
  top:1158px;
  width:57px;
  height:16px;
}
#u27828 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27829 {
  position:absolute;
  left:522px;
  top:1193px;
  width:57px;
  height:16px;
}
#u27830 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u27831 {
  position:absolute;
  left:852px;
  top:1084px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u27832 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u27833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u27833 {
  position:absolute;
  left:1029px;
  top:1084px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u27834 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27835 {
  position:absolute;
  left:860px;
  top:1124px;
  width:57px;
  height:16px;
}
#u27836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27837 {
  position:absolute;
  left:860px;
  top:1160px;
  width:57px;
  height:16px;
}
#u27838 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u27839 {
  position:absolute;
  left:860px;
  top:1195px;
  width:85px;
  height:16px;
}
#u27840 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u27841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27841 {
  position:absolute;
  left:1033px;
  top:1122px;
  width:57px;
  height:16px;
}
#u27842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27843 {
  position:absolute;
  left:1033px;
  top:1158px;
  width:57px;
  height:16px;
}
#u27844 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
}
#u27845 {
  position:absolute;
  left:1182px;
  top:1160px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u27846 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u27847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u27847 {
  position:absolute;
  left:1243px;
  top:1082px;
  width:64px;
  height:64px;
}
#u27848 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
}
#u27849 {
  position:absolute;
  left:1182px;
  top:1206px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27850 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u27851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u27851 {
  position:absolute;
  left:639px;
  top:1275px;
  width:338px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u27852 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u27853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:77px;
}
#u27853 {
  position:absolute;
  left:0px;
  top:1325px;
  width:1600px;
  height:76px;
}
#u27854 {
  position:absolute;
  left:2px;
  top:30px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u27855 {
  position:absolute;
  left:701px;
  top:1341px;
  width:250px;
  height:46px;
}
#u27856 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u27857 {
  position:absolute;
  left:674px;
  top:1084px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u27858 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u27859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27859 {
  position:absolute;
  left:682px;
  top:1124px;
  width:57px;
  height:16px;
}
#u27860 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27861 {
  position:absolute;
  left:682px;
  top:1160px;
  width:57px;
  height:16px;
}
#u27862 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27863 {
  position:absolute;
  left:682px;
  top:1195px;
  width:57px;
  height:16px;
}
#u27864 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u27865 {
  position:absolute;
  left:1033px;
  top:1195px;
  width:57px;
  height:16px;
}
#u27866 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:774px;
}
#u27867 {
  position:absolute;
  left:413px;
  top:120px;
  width:980px;
  height:773px;
}
#u27868 {
  position:absolute;
  left:2px;
  top:378px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:2px;
}
#u27869 {
  position:absolute;
  left:415px;
  top:159px;
  width:978px;
  height:1px;
}
#u27870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27871 {
  position:absolute;
  left:425px;
  top:133px;
  width:71px;
  height:16px;
}
#u27872 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:40px;
}
#u27873 {
  position:absolute;
  left:427px;
  top:211px;
  width:948px;
  height:39px;
}
#u27874 {
  position:absolute;
  left:2px;
  top:12px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u27875 {
  position:absolute;
  left:700px;
  top:223px;
  width:92px;
  height:16px;
  font-size:13px;
}
#u27876 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u27877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u27877 {
  position:absolute;
  left:466px;
  top:223px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u27878 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u27879 {
  position:absolute;
  left:1263px;
  top:223px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u27880 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u27881 {
  position:absolute;
  left:427px;
  top:250px;
  width:948px;
  height:1px;
}
#u27882 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u27883 {
  position:absolute;
  left:989px;
  top:223px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u27884 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u27885 {
  position:absolute;
  left:427px;
  top:293px;
  width:948px;
  height:1px;
}
#u27886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u27887 {
  position:absolute;
  left:427px;
  top:337px;
  width:948px;
  height:1px;
}
#u27888 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u27889 {
  position:absolute;
  left:700px;
  top:265px;
  width:87px;
  height:16px;
}
#u27890 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u27891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27891 {
  position:absolute;
  left:464px;
  top:265px;
  width:29px;
  height:16px;
}
#u27892 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27893 {
  position:absolute;
  left:995px;
  top:264px;
  width:43px;
  height:16px;
}
#u27894 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27895 {
  position:absolute;
  left:1260px;
  top:265px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27896 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u27897 {
  position:absolute;
  left:700px;
  top:311px;
  width:87px;
  height:16px;
}
#u27898 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u27899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27899 {
  position:absolute;
  left:459px;
  top:311px;
  width:43px;
  height:16px;
}
#u27900 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27901 {
  position:absolute;
  left:995px;
  top:310px;
  width:43px;
  height:16px;
}
#u27902 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27903 {
  position:absolute;
  left:1208px;
  top:311px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27904 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27905 {
  position:absolute;
  left:1337px;
  top:311px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27906 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27907 {
  position:absolute;
  left:1251px;
  top:311px;
  width:71px;
  height:16px;
  color:#0086D3;
}
#u27908 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u27909 {
  position:absolute;
  left:427px;
  top:382px;
  width:948px;
  height:1px;
}
#u27910 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u27911 {
  position:absolute;
  left:700px;
  top:356px;
  width:87px;
  height:16px;
}
#u27912 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u27913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27913 {
  position:absolute;
  left:464px;
  top:356px;
  width:29px;
  height:16px;
}
#u27914 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27915 {
  position:absolute;
  left:995px;
  top:355px;
  width:43px;
  height:16px;
}
#u27916 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27917 {
  position:absolute;
  left:1208px;
  top:356px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27918 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27919 {
  position:absolute;
  left:1337px;
  top:356px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27920 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27921 {
  position:absolute;
  left:1251px;
  top:356px;
  width:71px;
  height:16px;
  color:#0086D3;
}
#u27922 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u27923 {
  position:absolute;
  left:427px;
  top:427px;
  width:948px;
  height:1px;
}
#u27924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u27925 {
  position:absolute;
  left:700px;
  top:401px;
  width:87px;
  height:16px;
}
#u27926 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u27927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27927 {
  position:absolute;
  left:459px;
  top:401px;
  width:43px;
  height:16px;
}
#u27928 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27929 {
  position:absolute;
  left:995px;
  top:400px;
  width:43px;
  height:16px;
}
#u27930 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27931 {
  position:absolute;
  left:1208px;
  top:401px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27932 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27933 {
  position:absolute;
  left:1337px;
  top:401px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27934 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27935 {
  position:absolute;
  left:1251px;
  top:401px;
  width:71px;
  height:16px;
  color:#0086D3;
}
#u27936 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u27937 {
  position:absolute;
  left:427px;
  top:472px;
  width:948px;
  height:1px;
}
#u27938 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u27939 {
  position:absolute;
  left:700px;
  top:446px;
  width:87px;
  height:16px;
}
#u27940 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u27941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27941 {
  position:absolute;
  left:464px;
  top:446px;
  width:29px;
  height:16px;
}
#u27942 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27943 {
  position:absolute;
  left:995px;
  top:445px;
  width:43px;
  height:16px;
}
#u27944 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27945 {
  position:absolute;
  left:1208px;
  top:446px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u27947 {
  position:absolute;
  left:1337px;
  top:446px;
  width:29px;
  height:16px;
  color:#0086D3;
}
#u27948 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27949 {
  position:absolute;
  left:1251px;
  top:446px;
  width:71px;
  height:16px;
  color:#0086D3;
}
#u27950 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u27951 {
  position:absolute;
  left:1263px;
  top:170px;
  width:112px;
  height:30px;
}
#u27952 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u27953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:346px;
}
#u27953 {
  position:absolute;
  left:626px;
  top:279px;
  width:470px;
  height:345px;
}
#u27954 {
  position:absolute;
  left:2px;
  top:164px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:39px;
}
#u27955 {
  position:absolute;
  left:627px;
  top:280px;
  width:468px;
  height:38px;
}
#u27956 {
  position:absolute;
  left:2px;
  top:11px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27957 {
  position:absolute;
  left:1067px;
  top:280px;
  width:30px;
  height:30px;
}
#u27958 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27959 {
  position:absolute;
  left:634px;
  top:291px;
  width:71px;
  height:16px;
}
#u27960 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27961 {
  position:absolute;
  left:728px;
  top:440px;
  width:43px;
  height:16px;
}
#u27962 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27963 {
  position:absolute;
  left:781px;
  top:433px;
  width:186px;
  height:35px;
}
#u27963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u27964 {
  position:absolute;
  left:658px;
  top:346px;
  width:113px;
  height:16px;
}
#u27965 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u27966 {
  position:absolute;
  left:781px;
  top:337px;
  width:186px;
  height:35px;
}
#u27966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27967 {
  position:absolute;
  left:700px;
  top:393px;
  width:71px;
  height:16px;
}
#u27968 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27969 {
  position:absolute;
  left:781px;
  top:386px;
  width:186px;
  height:35px;
}
#u27969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27970 {
  position:absolute;
  left:783px;
  top:546px;
  width:90px;
  height:30px;
}
#u27970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u27971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27971 {
  position:absolute;
  left:728px;
  top:491px;
  width:43px;
  height:16px;
}
#u27972 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27973 {
  position:absolute;
  left:781px;
  top:484px;
  width:186px;
  height:35px;
}
#u27973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:116px;
}
#u27974 {
  position:absolute;
  left:892px;
  top:546px;
  width:292px;
  height:105px;
}
#u27975 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u27976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:352px;
}
#u27976 {
  position:absolute;
  left:627px;
  top:661px;
  width:470px;
  height:351px;
}
#u27977 {
  position:absolute;
  left:2px;
  top:168px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:39px;
}
#u27978 {
  position:absolute;
  left:628px;
  top:662px;
  width:468px;
  height:38px;
}
#u27979 {
  position:absolute;
  left:2px;
  top:11px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27980 {
  position:absolute;
  left:1068px;
  top:662px;
  width:30px;
  height:30px;
}
#u27981 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u27982 {
  position:absolute;
  left:635px;
  top:673px;
  width:71px;
  height:16px;
}
#u27983 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27984 {
  position:absolute;
  left:729px;
  top:846px;
  width:43px;
  height:16px;
}
#u27985 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27986 {
  position:absolute;
  left:782px;
  top:839px;
  width:186px;
  height:35px;
}
#u27986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u27987 {
  position:absolute;
  left:659px;
  top:728px;
  width:113px;
  height:16px;
}
#u27988 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u27989 {
  position:absolute;
  left:782px;
  top:719px;
  width:186px;
  height:35px;
}
#u27989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u27990 {
  position:absolute;
  left:687px;
  top:799px;
  width:85px;
  height:16px;
}
#u27991 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u27992 {
  position:absolute;
  left:782px;
  top:792px;
  width:92px;
  height:35px;
}
#u27992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27993 {
  position:absolute;
  left:784px;
  top:952px;
  width:90px;
  height:30px;
}
#u27993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u27994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27994 {
  position:absolute;
  left:729px;
  top:897px;
  width:43px;
  height:16px;
}
#u27995 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27996 {
  position:absolute;
  left:782px;
  top:890px;
  width:186px;
  height:35px;
}
#u27996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u27997 {
  position:absolute;
  left:884px;
  top:792px;
  width:84px;
  height:35px;
}
#u27998 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u27999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:57px;
}
#u27999 {
  position:absolute;
  left:467px;
  top:721px;
  width:150px;
  height:46px;
}
#u28000 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
}
#u28001 {
  position:absolute;
  left:464px;
  top:346px;
  width:150px;
  height:37px;
}
#u28002 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:94px;
}
#u28003 {
  position:absolute;
  left:915px;
  top:944px;
  width:292px;
  height:83px;
}
#u28004 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u28005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:17px;
}
#u28005 {
  position:absolute;
  left:780px;
  top:761px;
  width:196px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u28006 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u28007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:77px;
}
#u28007 {
  position:absolute;
  left:1004px;
  top:768px;
  width:292px;
  height:66px;
}
#u28008 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
#u28010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:31px;
}
#u28010 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
}
#u28011 {
  position:absolute;
  left:2px;
  top:7px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u28012 {
  position:absolute;
  left:200px;
  top:5px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28013 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u28014 {
  position:absolute;
  left:411px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28015 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
}
#u28016 {
  position:absolute;
  left:1095px;
  top:5px;
  width:314px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u28017 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u28018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u28018 {
  position:absolute;
  left:1024px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28019 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u28020 {
  position:absolute;
  left:947px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF7766;
}
#u28021 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:72px;
}
#u28022 {
  position:absolute;
  left:0px;
  top:31px;
  width:1600px;
  height:71px;
}
#u28023 {
  position:absolute;
  left:2px;
  top:28px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u28025 {
  position:absolute;
  left:192px;
  top:38px;
  width:188px;
  height:57px;
}
#u28026 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u28027 {
  position:absolute;
  left:399px;
  top:47px;
  width:1px;
  height:37px;
}
#u28028 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u28029 {
  position:absolute;
  left:414px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u28030 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u28031 {
  position:absolute;
  left:1004px;
  top:5px;
  width:8px;
  height:16px;
}
#u28032 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u28033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u28033 {
  position:absolute;
  left:1077px;
  top:5px;
  width:8px;
  height:16px;
}
#u28034 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u28035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u28035 {
  position:absolute;
  left:304px;
  top:5px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u28036 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u28037 {
  position:absolute;
  left:343px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28038 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:706px;
}
#u28040 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:705px;
  color:#666666;
}
#u28041 {
  position:absolute;
  left:2px;
  top:344px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28042 {
  position:absolute;
  left:219px;
  top:187px;
  width:23px;
  height:22px;
}
#u28043 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u28044 {
  position:absolute;
  left:252px;
  top:190px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u28045 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28046 {
  position:absolute;
  left:219px;
  top:227px;
  width:57px;
  height:16px;
}
#u28047 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u28048 {
  position:absolute;
  left:219px;
  top:278px;
  width:71px;
  height:16px;
}
#u28049 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28050 {
  position:absolute;
  left:219px;
  top:550px;
  width:23px;
  height:22px;
}
#u28051 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u28052 {
  position:absolute;
  left:252px;
  top:553px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u28053 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u28054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u28054 {
  position:absolute;
  left:219px;
  top:590px;
  width:85px;
  height:16px;
}
#u28055 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u28056 {
  position:absolute;
  left:219px;
  top:642px;
  width:71px;
  height:16px;
}
#u28057 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u28058 {
  position:absolute;
  left:219px;
  top:362px;
  width:151px;
  height:1px;
}
#u28059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u28060 {
  position:absolute;
  left:219px;
  top:531px;
  width:151px;
  height:1px;
}
#u28061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28062 {
  position:absolute;
  left:219px;
  top:701px;
  width:23px;
  height:22px;
}
#u28063 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u28064 {
  position:absolute;
  left:252px;
  top:704px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u28065 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28066 {
  position:absolute;
  left:219px;
  top:741px;
  width:57px;
  height:16px;
}
#u28067 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28068 {
  position:absolute;
  left:219px;
  top:767px;
  width:57px;
  height:16px;
}
#u28069 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u28070 {
  position:absolute;
  left:219px;
  top:686px;
  width:151px;
  height:1px;
}
#u28071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u28072 {
  position:absolute;
  left:219px;
  top:616px;
  width:113px;
  height:16px;
}
#u28073 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u28074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u28074 {
  position:absolute;
  left:219px;
  top:378px;
  width:23px;
  height:22px;
}
#u28075 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u28076 {
  position:absolute;
  left:252px;
  top:381px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u28077 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28078 {
  position:absolute;
  left:219px;
  top:418px;
  width:57px;
  height:16px;
}
#u28079 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28080 {
  position:absolute;
  left:219px;
  top:495px;
  width:57px;
  height:16px;
}
#u28081 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28082 {
  position:absolute;
  left:219px;
  top:469px;
  width:57px;
  height:16px;
}
#u28083 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28084 {
  position:absolute;
  left:219px;
  top:443px;
  width:57px;
  height:16px;
}
#u28085 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u28086 {
  position:absolute;
  left:219px;
  top:330px;
  width:71px;
  height:16px;
}
#u28087 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u28088 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:40px;
  font-size:14px;
}
#u28089 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u28090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u28090 {
  position:absolute;
  left:219px;
  top:793px;
  width:71px;
  height:16px;
}
#u28091 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28092 {
  position:absolute;
  left:219px;
  top:253px;
  width:57px;
  height:16px;
}
#u28093 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u28094 {
  position:absolute;
  left:219px;
  top:304px;
  width:57px;
  height:16px;
}
#u28095 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
