body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:720px;
}
#u24789 {
  position:absolute;
  left:416px;
  top:120px;
  width:910px;
  height:719px;
  color:#999999;
}
#u24790 {
  position:absolute;
  left:2px;
  top:352px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:2px;
}
#u24791 {
  position:absolute;
  left:433px;
  top:164px;
  width:892px;
  height:1px;
}
#u24792 {
  position:absolute;
  left:2px;
  top:-8px;
  width:888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u24793 {
  position:absolute;
  left:433px;
  top:138px;
  width:85px;
  height:16px;
}
#u24794 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u24795 {
  position:absolute;
  left:846px;
  top:383px;
  width:50px;
  height:50px;
}
#u24796 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:17px;
}
#u24797 {
  position:absolute;
  left:710px;
  top:452px;
  width:351px;
  height:16px;
}
#u24798 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u24799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u24799 {
  position:absolute;
  left:802px;
  top:478px;
  width:140px;
  height:40px;
}
#u24800 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u24801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:97px;
}
#u24801 {
  position:absolute;
  left:438px;
  top:206px;
  width:866px;
  height:96px;
  font-size:14px;
  line-height:48px;
}
#u24802 {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  word-wrap:break-word;
}
#u24804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:272px;
}
#u24804 {
  position:absolute;
  left:0px;
  top:879px;
  width:1600px;
  height:271px;
}
#u24805 {
  position:absolute;
  left:2px;
  top:128px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u24806 {
  position:absolute;
  left:243px;
  top:912px;
  width:188px;
  height:57px;
}
#u24807 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u24808 {
  position:absolute;
  left:293px;
  top:982px;
  width:99px;
  height:16px;
}
#u24809 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u24810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u24810 {
  position:absolute;
  left:518px;
  top:909px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24811 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24812 {
  position:absolute;
  left:522px;
  top:947px;
  width:57px;
  height:16px;
}
#u24813 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24814 {
  position:absolute;
  left:522px;
  top:983px;
  width:57px;
  height:16px;
}
#u24815 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24816 {
  position:absolute;
  left:522px;
  top:1018px;
  width:57px;
  height:16px;
}
#u24817 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u24818 {
  position:absolute;
  left:852px;
  top:909px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24819 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u24820 {
  position:absolute;
  left:1029px;
  top:909px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24821 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24822 {
  position:absolute;
  left:860px;
  top:949px;
  width:57px;
  height:16px;
}
#u24823 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24824 {
  position:absolute;
  left:860px;
  top:985px;
  width:57px;
  height:16px;
}
#u24825 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u24826 {
  position:absolute;
  left:860px;
  top:1020px;
  width:85px;
  height:16px;
}
#u24827 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24828 {
  position:absolute;
  left:1033px;
  top:947px;
  width:57px;
  height:16px;
}
#u24829 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24830 {
  position:absolute;
  left:1033px;
  top:983px;
  width:57px;
  height:16px;
}
#u24831 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
}
#u24832 {
  position:absolute;
  left:1182px;
  top:985px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u24833 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u24834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u24834 {
  position:absolute;
  left:1243px;
  top:907px;
  width:64px;
  height:64px;
}
#u24835 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
}
#u24836 {
  position:absolute;
  left:1182px;
  top:1031px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24837 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u24838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u24838 {
  position:absolute;
  left:639px;
  top:1100px;
  width:338px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u24839 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u24840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:77px;
}
#u24840 {
  position:absolute;
  left:0px;
  top:1150px;
  width:1600px;
  height:76px;
}
#u24841 {
  position:absolute;
  left:2px;
  top:30px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u24842 {
  position:absolute;
  left:701px;
  top:1166px;
  width:250px;
  height:46px;
}
#u24843 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u24844 {
  position:absolute;
  left:674px;
  top:909px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24845 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24846 {
  position:absolute;
  left:682px;
  top:949px;
  width:57px;
  height:16px;
}
#u24847 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24848 {
  position:absolute;
  left:682px;
  top:985px;
  width:57px;
  height:16px;
}
#u24849 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24850 {
  position:absolute;
  left:682px;
  top:1020px;
  width:57px;
  height:16px;
}
#u24851 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24852 {
  position:absolute;
  left:1033px;
  top:1020px;
  width:57px;
  height:16px;
}
#u24853 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:706px;
}
#u24855 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:705px;
  color:#666666;
}
#u24856 {
  position:absolute;
  left:2px;
  top:344px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24857 {
  position:absolute;
  left:219px;
  top:187px;
  width:23px;
  height:22px;
}
#u24858 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u24859 {
  position:absolute;
  left:252px;
  top:190px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24860 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24861 {
  position:absolute;
  left:219px;
  top:227px;
  width:57px;
  height:16px;
}
#u24862 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24863 {
  position:absolute;
  left:219px;
  top:278px;
  width:71px;
  height:16px;
}
#u24864 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24865 {
  position:absolute;
  left:219px;
  top:550px;
  width:23px;
  height:22px;
}
#u24866 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u24867 {
  position:absolute;
  left:252px;
  top:553px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24868 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u24869 {
  position:absolute;
  left:219px;
  top:590px;
  width:85px;
  height:16px;
}
#u24870 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24871 {
  position:absolute;
  left:219px;
  top:642px;
  width:71px;
  height:16px;
}
#u24872 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u24873 {
  position:absolute;
  left:219px;
  top:362px;
  width:151px;
  height:1px;
}
#u24874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u24875 {
  position:absolute;
  left:219px;
  top:531px;
  width:151px;
  height:1px;
}
#u24876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24877 {
  position:absolute;
  left:219px;
  top:701px;
  width:23px;
  height:22px;
}
#u24878 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u24879 {
  position:absolute;
  left:252px;
  top:704px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24880 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24881 {
  position:absolute;
  left:219px;
  top:741px;
  width:57px;
  height:16px;
}
#u24882 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24883 {
  position:absolute;
  left:219px;
  top:767px;
  width:57px;
  height:16px;
}
#u24884 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u24885 {
  position:absolute;
  left:219px;
  top:686px;
  width:151px;
  height:1px;
}
#u24886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u24887 {
  position:absolute;
  left:219px;
  top:616px;
  width:113px;
  height:16px;
}
#u24888 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24889 {
  position:absolute;
  left:219px;
  top:378px;
  width:23px;
  height:22px;
}
#u24890 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u24891 {
  position:absolute;
  left:252px;
  top:381px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24892 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24893 {
  position:absolute;
  left:219px;
  top:418px;
  width:57px;
  height:16px;
}
#u24894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24895 {
  position:absolute;
  left:219px;
  top:495px;
  width:57px;
  height:16px;
}
#u24896 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24897 {
  position:absolute;
  left:219px;
  top:469px;
  width:57px;
  height:16px;
}
#u24898 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24899 {
  position:absolute;
  left:219px;
  top:443px;
  width:57px;
  height:16px;
}
#u24900 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24901 {
  position:absolute;
  left:219px;
  top:330px;
  width:71px;
  height:16px;
}
#u24902 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u24903 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:40px;
  font-size:14px;
}
#u24904 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u24905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24905 {
  position:absolute;
  left:219px;
  top:793px;
  width:71px;
  height:16px;
}
#u24906 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24907 {
  position:absolute;
  left:219px;
  top:253px;
  width:57px;
  height:16px;
}
#u24908 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24909 {
  position:absolute;
  left:219px;
  top:304px;
  width:57px;
  height:16px;
}
#u24910 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:31px;
}
#u24912 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
}
#u24913 {
  position:absolute;
  left:2px;
  top:7px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u24914 {
  position:absolute;
  left:200px;
  top:5px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24915 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24916 {
  position:absolute;
  left:411px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24917 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
}
#u24918 {
  position:absolute;
  left:1095px;
  top:5px;
  width:314px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24919 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u24920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24920 {
  position:absolute;
  left:1024px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24921 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24922 {
  position:absolute;
  left:947px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF7766;
}
#u24923 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:72px;
}
#u24924 {
  position:absolute;
  left:0px;
  top:31px;
  width:1600px;
  height:71px;
}
#u24925 {
  position:absolute;
  left:2px;
  top:28px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u24927 {
  position:absolute;
  left:192px;
  top:38px;
  width:188px;
  height:57px;
}
#u24928 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u24929 {
  position:absolute;
  left:399px;
  top:47px;
  width:1px;
  height:37px;
}
#u24930 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u24931 {
  position:absolute;
  left:414px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u24932 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u24933 {
  position:absolute;
  left:1004px;
  top:5px;
  width:8px;
  height:16px;
}
#u24934 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u24935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u24935 {
  position:absolute;
  left:1077px;
  top:5px;
  width:8px;
  height:16px;
}
#u24936 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u24937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u24937 {
  position:absolute;
  left:304px;
  top:5px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u24938 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24939 {
  position:absolute;
  left:343px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24940 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
