body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:725px;
}
#u24159 {
  position:absolute;
  left:424px;
  top:120px;
  width:910px;
  height:724px;
  color:#999999;
}
#u24160 {
  position:absolute;
  left:2px;
  top:354px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:2px;
}
#u24161 {
  position:absolute;
  left:441px;
  top:164px;
  width:892px;
  height:1px;
}
#u24162 {
  position:absolute;
  left:2px;
  top:-8px;
  width:888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u24163 {
  position:absolute;
  left:441px;
  top:138px;
  width:113px;
  height:16px;
}
#u24164 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u24165 {
  position:absolute;
  left:854px;
  top:433px;
  width:50px;
  height:50px;
}
#u24166 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:17px;
}
#u24167 {
  position:absolute;
  left:718px;
  top:502px;
  width:351px;
  height:16px;
}
#u24168 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u24169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u24169 {
  position:absolute;
  left:810px;
  top:528px;
  width:140px;
  height:40px;
}
#u24170 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u24171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:152px;
}
#u24171 {
  position:absolute;
  left:446px;
  top:206px;
  width:866px;
  height:151px;
  font-size:14px;
  line-height:48px;
}
#u24172 {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  word-wrap:break-word;
}
#u24174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:272px;
}
#u24174 {
  position:absolute;
  left:0px;
  top:883px;
  width:1600px;
  height:271px;
}
#u24175 {
  position:absolute;
  left:2px;
  top:128px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u24176 {
  position:absolute;
  left:243px;
  top:916px;
  width:188px;
  height:57px;
}
#u24177 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u24178 {
  position:absolute;
  left:293px;
  top:986px;
  width:99px;
  height:16px;
}
#u24179 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u24180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u24180 {
  position:absolute;
  left:518px;
  top:913px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24181 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24182 {
  position:absolute;
  left:522px;
  top:951px;
  width:57px;
  height:16px;
}
#u24183 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24184 {
  position:absolute;
  left:522px;
  top:987px;
  width:57px;
  height:16px;
}
#u24185 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24186 {
  position:absolute;
  left:522px;
  top:1022px;
  width:57px;
  height:16px;
}
#u24187 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u24188 {
  position:absolute;
  left:852px;
  top:913px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24189 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u24190 {
  position:absolute;
  left:1029px;
  top:913px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24191 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24192 {
  position:absolute;
  left:860px;
  top:953px;
  width:57px;
  height:16px;
}
#u24193 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24194 {
  position:absolute;
  left:860px;
  top:989px;
  width:57px;
  height:16px;
}
#u24195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u24196 {
  position:absolute;
  left:860px;
  top:1024px;
  width:85px;
  height:16px;
}
#u24197 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24198 {
  position:absolute;
  left:1033px;
  top:951px;
  width:57px;
  height:16px;
}
#u24199 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24200 {
  position:absolute;
  left:1033px;
  top:987px;
  width:57px;
  height:16px;
}
#u24201 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
}
#u24202 {
  position:absolute;
  left:1182px;
  top:989px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u24203 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u24204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u24204 {
  position:absolute;
  left:1243px;
  top:911px;
  width:64px;
  height:64px;
}
#u24205 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
}
#u24206 {
  position:absolute;
  left:1182px;
  top:1035px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24207 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u24208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u24208 {
  position:absolute;
  left:639px;
  top:1104px;
  width:338px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u24209 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u24210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:77px;
}
#u24210 {
  position:absolute;
  left:0px;
  top:1154px;
  width:1600px;
  height:76px;
}
#u24211 {
  position:absolute;
  left:2px;
  top:30px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u24212 {
  position:absolute;
  left:701px;
  top:1170px;
  width:250px;
  height:46px;
}
#u24213 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u24214 {
  position:absolute;
  left:674px;
  top:913px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24215 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24216 {
  position:absolute;
  left:682px;
  top:953px;
  width:57px;
  height:16px;
}
#u24217 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24218 {
  position:absolute;
  left:682px;
  top:989px;
  width:57px;
  height:16px;
}
#u24219 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24220 {
  position:absolute;
  left:682px;
  top:1024px;
  width:57px;
  height:16px;
}
#u24221 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24222 {
  position:absolute;
  left:1033px;
  top:1024px;
  width:57px;
  height:16px;
}
#u24223 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:31px;
}
#u24225 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
}
#u24226 {
  position:absolute;
  left:2px;
  top:7px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u24227 {
  position:absolute;
  left:200px;
  top:5px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24228 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24229 {
  position:absolute;
  left:411px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24230 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
}
#u24231 {
  position:absolute;
  left:1095px;
  top:5px;
  width:314px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24232 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u24233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24233 {
  position:absolute;
  left:1024px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24234 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24235 {
  position:absolute;
  left:947px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF7766;
}
#u24236 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:72px;
}
#u24237 {
  position:absolute;
  left:0px;
  top:31px;
  width:1600px;
  height:71px;
}
#u24238 {
  position:absolute;
  left:2px;
  top:28px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u24240 {
  position:absolute;
  left:192px;
  top:38px;
  width:188px;
  height:57px;
}
#u24241 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u24242 {
  position:absolute;
  left:399px;
  top:47px;
  width:1px;
  height:37px;
}
#u24243 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u24244 {
  position:absolute;
  left:414px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u24245 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u24246 {
  position:absolute;
  left:1004px;
  top:5px;
  width:8px;
  height:16px;
}
#u24247 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u24248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u24248 {
  position:absolute;
  left:1077px;
  top:5px;
  width:8px;
  height:16px;
}
#u24249 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u24250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u24250 {
  position:absolute;
  left:304px;
  top:5px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u24251 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u24252 {
  position:absolute;
  left:343px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24253 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:706px;
}
#u24255 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:705px;
  color:#666666;
}
#u24256 {
  position:absolute;
  left:2px;
  top:344px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24257 {
  position:absolute;
  left:219px;
  top:187px;
  width:23px;
  height:22px;
}
#u24258 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u24259 {
  position:absolute;
  left:252px;
  top:190px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24260 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24261 {
  position:absolute;
  left:219px;
  top:227px;
  width:57px;
  height:16px;
}
#u24262 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24263 {
  position:absolute;
  left:219px;
  top:278px;
  width:71px;
  height:16px;
}
#u24264 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24265 {
  position:absolute;
  left:219px;
  top:550px;
  width:23px;
  height:22px;
}
#u24266 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u24267 {
  position:absolute;
  left:252px;
  top:553px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24268 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u24269 {
  position:absolute;
  left:219px;
  top:590px;
  width:85px;
  height:16px;
}
#u24270 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24271 {
  position:absolute;
  left:219px;
  top:642px;
  width:71px;
  height:16px;
}
#u24272 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u24273 {
  position:absolute;
  left:219px;
  top:362px;
  width:151px;
  height:1px;
}
#u24274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u24275 {
  position:absolute;
  left:219px;
  top:531px;
  width:151px;
  height:1px;
}
#u24276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24277 {
  position:absolute;
  left:219px;
  top:701px;
  width:23px;
  height:22px;
}
#u24278 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u24279 {
  position:absolute;
  left:252px;
  top:704px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24280 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24281 {
  position:absolute;
  left:219px;
  top:741px;
  width:57px;
  height:16px;
}
#u24282 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24283 {
  position:absolute;
  left:219px;
  top:767px;
  width:57px;
  height:16px;
}
#u24284 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u24285 {
  position:absolute;
  left:219px;
  top:686px;
  width:151px;
  height:1px;
}
#u24286 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u24287 {
  position:absolute;
  left:219px;
  top:616px;
  width:113px;
  height:16px;
}
#u24288 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u24289 {
  position:absolute;
  left:219px;
  top:378px;
  width:23px;
  height:22px;
}
#u24290 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u24291 {
  position:absolute;
  left:252px;
  top:381px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24292 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24293 {
  position:absolute;
  left:219px;
  top:418px;
  width:57px;
  height:16px;
}
#u24294 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24295 {
  position:absolute;
  left:219px;
  top:495px;
  width:57px;
  height:16px;
}
#u24296 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24297 {
  position:absolute;
  left:219px;
  top:469px;
  width:57px;
  height:16px;
}
#u24298 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24299 {
  position:absolute;
  left:219px;
  top:443px;
  width:57px;
  height:16px;
}
#u24300 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24301 {
  position:absolute;
  left:219px;
  top:330px;
  width:71px;
  height:16px;
}
#u24302 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u24303 {
  position:absolute;
  left:200px;
  top:120px;
  width:189px;
  height:40px;
  font-size:14px;
}
#u24304 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u24305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u24305 {
  position:absolute;
  left:219px;
  top:793px;
  width:71px;
  height:16px;
}
#u24306 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24307 {
  position:absolute;
  left:219px;
  top:253px;
  width:57px;
  height:16px;
}
#u24308 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u24309 {
  position:absolute;
  left:219px;
  top:304px;
  width:57px;
  height:16px;
}
#u24310 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
