body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:589px;
}
#u1820 {
  position:absolute;
  left:200px;
  top:176px;
  width:880px;
  height:588px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:286px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u1822 {
  position:absolute;
  left:199px;
  top:106px;
  width:160px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u1823 {
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u1824 {
  position:absolute;
  left:201px;
  top:143px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u1826 {
  position:absolute;
  left:272px;
  top:192px;
  width:74px;
  height:30px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u1828 {
  position:absolute;
  left:361px;
  top:192px;
  width:74px;
  height:30px;
}
#u1829 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u1830 {
  position:absolute;
  left:451px;
  top:192px;
  width:74px;
  height:30px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u1832 {
  position:absolute;
  left:272px;
  top:242px;
  width:87px;
  height:30px;
}
#u1832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1832_input:disabled {
  color:grayText;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1833 {
  position:absolute;
  left:219px;
  top:199px;
  width:43px;
  height:16px;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1835 {
  position:absolute;
  left:219px;
  top:249px;
  width:43px;
  height:16px;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1837 {
  position:absolute;
  left:399px;
  top:249px;
  width:71px;
  height:16px;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1839 {
  position:absolute;
  left:472px;
  top:244px;
  width:161px;
  height:30px;
}
#u1839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1840 {
  position:absolute;
  left:663px;
  top:249px;
  width:57px;
  height:16px;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1842 {
  position:absolute;
  left:736px;
  top:244px;
  width:161px;
  height:30px;
}
#u1842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
}
#u1843 {
  position:absolute;
  left:551px;
  top:311px;
  width:155px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:17px;
}
#u1845 {
  position:absolute;
  left:530px;
  top:351px;
  width:201px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:168px;
}
#u1847 {
  position:absolute;
  left:200px;
  top:783px;
  width:875px;
  height:168px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:76px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:371px;
}
#u1849 {
  position:absolute;
  left:209px;
  top:377px;
  width:862px;
  height:371px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:178px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:630px;
}
#u1851 {
  position:absolute;
  left:1093px;
  top:143px;
  width:314px;
  height:630px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:307px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u1853 {
  position:absolute;
  left:614px;
  top:251px;
  width:17px;
  height:16px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u1855 {
  position:absolute;
  left:878px;
  top:250px;
  width:17px;
  height:16px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:272px;
}
#u1858 {
  position:absolute;
  left:0px;
  top:985px;
  width:1600px;
  height:271px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:128px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:57px;
}
#u1860 {
  position:absolute;
  left:243px;
  top:1018px;
  width:188px;
  height:57px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u1862 {
  position:absolute;
  left:293px;
  top:1088px;
  width:99px;
  height:16px;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1864 {
  position:absolute;
  left:518px;
  top:1015px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1866 {
  position:absolute;
  left:522px;
  top:1053px;
  width:57px;
  height:16px;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1868 {
  position:absolute;
  left:522px;
  top:1089px;
  width:57px;
  height:16px;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1870 {
  position:absolute;
  left:522px;
  top:1124px;
  width:57px;
  height:16px;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1872 {
  position:absolute;
  left:852px;
  top:1015px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1874 {
  position:absolute;
  left:1029px;
  top:1015px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1876 {
  position:absolute;
  left:860px;
  top:1055px;
  width:57px;
  height:16px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1878 {
  position:absolute;
  left:860px;
  top:1091px;
  width:57px;
  height:16px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1880 {
  position:absolute;
  left:860px;
  top:1126px;
  width:85px;
  height:16px;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1882 {
  position:absolute;
  left:1033px;
  top:1053px;
  width:57px;
  height:16px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1884 {
  position:absolute;
  left:1033px;
  top:1089px;
  width:57px;
  height:16px;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
}
#u1886 {
  position:absolute;
  left:1182px;
  top:1091px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1888 {
  position:absolute;
  left:1243px;
  top:1013px;
  width:64px;
  height:64px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
}
#u1890 {
  position:absolute;
  left:1182px;
  top:1137px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u1892 {
  position:absolute;
  left:639px;
  top:1206px;
  width:338px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:77px;
}
#u1894 {
  position:absolute;
  left:0px;
  top:1256px;
  width:1600px;
  height:76px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:30px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u1896 {
  position:absolute;
  left:701px;
  top:1272px;
  width:250px;
  height:46px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1898 {
  position:absolute;
  left:674px;
  top:1015px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1900 {
  position:absolute;
  left:682px;
  top:1055px;
  width:57px;
  height:16px;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1902 {
  position:absolute;
  left:682px;
  top:1091px;
  width:57px;
  height:16px;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1904 {
  position:absolute;
  left:682px;
  top:1126px;
  width:57px;
  height:16px;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1906 {
  position:absolute;
  left:1033px;
  top:1126px;
  width:57px;
  height:16px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1908 {
  position:absolute;
  left:1114px;
  top:157px;
  width:159px;
  height:31px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1910 {
  position:absolute;
  left:1119px;
  top:163px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:31px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:30px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:7px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u1915 {
  position:absolute;
  left:200px;
  top:5px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1917 {
  position:absolute;
  left:304px;
  top:5px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1919 {
  position:absolute;
  left:343px;
  top:5px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:18px;
}
#u1921 {
  position:absolute;
  left:1100px;
  top:5px;
  width:298px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1923 {
  position:absolute;
  left:1024px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1925 {
  position:absolute;
  left:947px;
  top:5px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:63px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:30px;
  width:1600px;
  height:62px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:23px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u1929 {
  position:absolute;
  left:200px;
  top:43px;
  width:113px;
  height:37px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1931 {
  position:absolute;
  left:394px;
  top:53px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0086D3;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1933 {
  position:absolute;
  left:473px;
  top:53px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1935 {
  position:absolute;
  left:673px;
  top:52px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1937 {
  position:absolute;
  left:576px;
  top:52px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1939 {
  position:absolute;
  left:761px;
  top:53px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1941 {
  position:absolute;
  left:870px;
  top:53px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1944_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:48px;
  height:6px;
}
#u1944 {
  position:absolute;
  left:387px;
  top:89px;
  width:45px;
  height:3px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:-6px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:5px;
}
#u1946 {
  position:absolute;
  left:405px;
  top:85px;
  width:8px;
  height:4px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948 {
  position:absolute;
  left:1072px;
  top:49px;
  width:250px;
  height:30px;
}
#u1948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u1949 {
  position:absolute;
  left:1336px;
  top:49px;
  width:63px;
  height:30px;
  font-size:14px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1951 {
  position:absolute;
  left:1344px;
  top:57px;
  width:15px;
  height:15px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
