body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12391 {
  position:absolute;
  left:580px;
  top:147px;
  width:176px;
  height:40px;
}
#u12391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u12392 {
  position:absolute;
  left:471px;
  top:158px;
  width:99px;
  height:16px;
}
#u12393 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u12394 {
  position:absolute;
  left:795px;
  top:158px;
  width:71px;
  height:16px;
}
#u12395 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12396 {
  position:absolute;
  left:876px;
  top:158px;
  width:68px;
  height:16px;
}
#u12397 {
  position:absolute;
  left:16px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12396_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12398 {
  position:absolute;
  left:973px;
  top:158px;
  width:68px;
  height:16px;
}
#u12399 {
  position:absolute;
  left:16px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12398_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u12400 {
  position:absolute;
  left:580px;
  top:213px;
  width:90px;
  height:35px;
}
#u12401 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u12402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
#u12402 {
  position:absolute;
  left:685px;
  top:223px;
  width:219px;
  height:16px;
}
#u12403 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
